.bell-style{
    position: relative;
.bellstyle{
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 118px;
    padding: 1px;
    font-size: 20px;
    font-weight: 700;
    height:10px;
    color: red;
}

}

